<html>
	<head>
		  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag :defaults %>
		  <%= csrf_meta_tags %>
		  <link href="/assets/stylesheets/css/yeti2-bootstrap.css" rel="stylesheet">
		  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<title>Blogr</title>
	</head>
	<body>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<% @articles.each do |article| %>
					<div class="col-md-4 col-lg-3">
						<% if article.feature_file_name %>									
							<%= link_to article_path(article) do %>
								<center><img src="<%= article.feature.url(:large) %>" class="img img-responsive img-thumbnail" width="90%" height="90%" alt="article-image" %><br>
								<h4 style="color: #000000; text-decoration: none;"><%= article.title %></h4></center>
							<% end %>
						<% end %><br>
						<center><a href="<%= article_path(article) %>"></a></center>
					</div>
					<% end %>
			</div>
				<!--<div style="background-color: #FFFFFF;">
					<% @articles.each do |article| %>
						<div class="col-lg-3">
								<% if article.feature_file_name %>									
									<%= link_to article_path(article) do %>
										<img src="<%= article.feature.url(:large) %>" class="img img-responsive img-thumbnail" width="175" height="175" alt="article-image" %>
									<% end %>
								<% end %>
						</div>
						<div class="col-lg-8"><!-- Added some extra padding to bootstrap's media class 
							<div class="media-heading"><strong><h1><a href="<%= article_path(article) %>" style="color: #000000;"><%= article.title %></a></h1></strong></div>
							<p><%= truncate(article.text, length: 600, omission: " [...]") %></p>
							<div class="btn-group">
								<a type="button" href="<%= article_path(article) %>" class="btn btn-primary">Read</a> 
								<% if user_signed_in? %>
									<% if current_user.id == article.user_id %>
										<a type="button" href="<%= edit_article_path(article) %>" class="btn btn-default">Edit</a>
									<% end %>
								<% end %>
							</div>
						</div>
						<br>
						<br>
					<% end %>
				</div>-->
			<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
		
			<div class="hidden-xs hidden-sm col-md-4 col-lg-4">
				<div class="row">
					<form role="search" class="form-inline">
							<input type="search" placeholder="Search..." class="form-control input-md">
							<button type="submit" class="btn btn-primary btn-md"><i class="fa fa-search"></i></button>
					</form>
				</div><br>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-star"></i> Featured Articles</div>
						<div class="panel-body">

						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading"><i class="fa fa-comments"></i> Recent Comments</div>
						<div class="panel-body">
							<p>

							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading"><i class="fa fa-server"></i> Categories</div>
						<div class="panel-body">
							<p>

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</body>
</html>