<html>
	<body>
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-12 col-md-8 col-lg-8">
				<div class="panel panel-default">
					<table class="table table-hover table-responsive"> 
						<% @articles.each do |article| %>
							<div>
								<div >
									<tr>
										
											<td>
												<p>
												<div c><h1><a href="<%= article_path(article) %>"><%= article.title %></a></h1></div>
												<p><%= article.text %></p>
												<div class="btn-group ">
													<a type="button" href="<%= article_path(article) %>" class="btn btn-primary">Read</a> 
													<a type="button" href="<%= edit_article_path(article) %>" class="btn btn-default">Edit</a> 
													<%= link_to 'Delete', article_path(article), :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
												</div>
												</p>
											</td>
									</tr>
								</div>
							</div>
						<% end %>
					</table>
				</div>
			<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
			</div>
			
			<div class="hidden-xs hidden-sm col-md-4 col-lg-4">

				<div class="panel panel-primary">
					<div class="panel-heading">
						About
					</div>
					<div class="panel-body">
						<p>
							Born in London, England and raised in Los Angeles, California. Started working with graphic design in 2009 and began coding in 2011. I have participated in various software engineering and design projects for companies and I often create for my own pleasure in my free time.
						</p>
					</div>
				</div>
				
				<div class="panel panel-primary">
					<div class="panel-heading">
						Contact
					</div>
					<div class="panel-body">
						<p>
							<h6><i class="fa fa-facebook-square"> Chudi Iregbulem</i></h6>
							<h6><i class="fa fa-twitter-square"> @DizzOnEm</i></h6>
							<h6><i class="fa fa-github-square"> ciregbulem</i></h6>
							<h6><i class="fa fa-envelope-square"> chudi.iregbulem@trincoll.edu</i></h6>
						</p>
					</div>
				</div>
			</div>
		</div>		
	</body>
</html>