<html>
	<body>
		<div class="row">
			<% if user_signed_in? %>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<% else %>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<% end %>
					<div class="panel panel-default">
						<table class="table table-responsive"> 
							<% @articles.each do |article| %>
								<div>
									<div >
										<tr>
											
												<td>
													<div class="row">
													<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2"><img src="https://cdn2.iconfinder.com/data/icons/picons-essentials/71/gallery-512.png" class="img-responsive img-thumbnail"></div>
													<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10"><h1><a href="<%= article_path(article) %>"><%= article.title %></a></h1>
													<p><%= truncate(article.text, length: 600, omission: " [...]") %></p>
													<div class="btn-group">
														<a type="button" href="<%= article_path(article) %>" class="btn btn-primary">Read</a> 
														<% if user_signed_in? %>
															<a type="button" href="<%= edit_article_path(article) %>" class="btn btn-default">Edit</a> 
															<%= link_to 'Delete', article_path(article), :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
														<% end %>
													</div>
													</div>
													</div>
												</td>
										</tr>
									</div>
								</div>
							<% end %>
						</table>
					</div>
			<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
			</div>
			<% if user_signed_in? %>
				<div class="hidden-xs hidden-sm col-md-4 col-lg-4">

					<div class="panel panel-primary">
						<div class="panel-heading">
							About
						</div>
						<div class="panel-body">
							<p>
								<%= current_user.about %>
							</p>
						</div>
					</div>
					
					<div class="panel panel-primary">
						<div class="panel-heading">
							Contact
						</div>
						<div class="panel-body">
							<p>
								<h4><i class="fa fa-facebook-square"></i> <%= current_user.fname %> <%= current_user.lname %></h4>
								<h4><i class="fa fa-twitter-square"> @DizzOnEm</i></h4>
								<h4><i class="fa fa-github-square"> ciregbulem</i></h4>
								<h4><i class="fa fa-envelope-square"></i> <%= current_user.email %></h4>
							</p>
						</div>
					</div>
				</div>
			<% end %>
		</div>		
	</body>
</html>