<html>    
    <body>
        <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" <%= link_to 'Rails Blog', articles_path%></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><%= link_to 'Home', articles_path%></li>
                <li class="active"><%= link_to 'New', new_article_path%></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
              <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email">
                  <input type="password" class="form-control" placeholder="Password">
                </div>
              <button type="submit" class="btn btn-success btn-sm right">Sign In</button>
              <button type="submit" class="btn btn-primary btn-sm right">Sign Up</button>
              </form>
            </div><!--/.nav-collapse
          </div>
        </nav> -->
        <div class="row"> 
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <div class="panel panel-default">
                <div class="panel-heading"><h3><i class="fa fa-edit"></i> New Article</h3></div>
                <div class="panel-body">
                <%= render 'form' %>
                </div>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-image"></i> Featured Image</div>
                <div class="panel-body">
                </div>
              </div>
              <%= link_to "Cancel", articles_path, :class => "btn btn-warning btn-block" %>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            
            </div>
          </div> 
  </body>
</html>