<!DOCTYPE html>
<html>
<head>
  <title><%= @user.fname %> <%= @user.lname %></title>
</head>
  <body>
    	<ol class="breadcrumb">
    	  <li><a href="<%= root_path %>">Home</a></li>
    	  <li><a href="<%= users_path %>">Users</a></li>
    	  <li class="active"><%= @user.fname %></li>
    	</ol>
    <div class="well well-lg">     
      <div class="row">  
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
          
            <div class="media">
              <a class="media-left" href="#">
                <% if @user.avatar_file_name != nil %>
                  <%= image_tag @user.avatar.url(:medium), class: "img img-rounded img-thumbnail" %>
                <% elsif @user.image != nil %>
                  <%= image_tag @user.image, size: "300", class: "img img-rounded img-thumbnail" %>
                <% else %>
                  <img src="http://www.faithlineprotestants.org/wp-content/uploads/2010/12/facebook-default-no-profile-pic.jpg" alt="No Avatar Exists" class="img img-rounded" width="32" height="32">
                <% end %>
              </a>
              <div class="media-body">
                <h1 class="media-heading"><%= @user.fname %> <%= @user.lname %> <small>(<%= @user.email %>)</small></h1><br>

                <%= link_to "Edit", edit_user_registration_path, :class => "btn btn-primary btn-md" %>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">About</div>
            <div class="panel-body">
              <p>
                
              </p>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">Contact</div>
          <div class="panel-body">
            <p>
              Email: <%= @user.email %>
            </p>
          </div>
        </div>
      </div>
    </div>

    
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1 col-md-7 col-lg-7">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">User Articles</div>
          <div class="panel-body">
            <table class="table table-responsive"> 
              <% @articles.each do |article| %>
                <div>
                  <tr>
                      <td>
                        <div class="media">
                          <div class="media-left">
                            <% if article.feature.url == nil %>
                              <%= image_tag article.feature.default_url(:thumb), class: "img-responsive img-thumbnail" %>
                            <% else %>
                              <%= image_tag article.feature.url(:thumb), class: "img-responsive img-thumbnail" %>
                            <% end %>
                          </div>
                          <div class="media-body">
                            <h1 class="media-heading"><a href="<%= article_path(article) %>"><%= article.title %></a></h1>
                            <p><%= truncate(article.text, length: 600, omission: " [...]") %></p>
                              <div class="btn-group">
                                <a type="button" href="<%= article_path(article) %>" class="btn btn-primary">Read</a> 
                                <% if user_signed_in? %>
                                  <a type="button" href="<%= edit_article_path(article) %>" class="btn btn-default">Edit</a> 
                                  <%= link_to 'Delete', article_path(article), :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
                                <% end %>
                              </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                </div>
              <% end %>
            </table>
            <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>