<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
  <link href="/assets/stylesheets/css/yeti2-bootstrap.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body style="background-color: #FFFFFF;">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-inverse-collapse">
        <span class="fa fa-navicon fa-2x" style="color: #FFFFFF"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <div class="media" style="margin-bottom: 10px;">
          <div class="media-left">
            <%= image_tag "https://s3-us-west-1.amazonaws.com/chudiblog-development/blogr_cloud.png", size: "32" %>
            <h4 style="display:inline;">Blogr</h4>
          </div>
        </div>
      <% end %>
    </div>
    <!-- User Not Signed In -->
    <% if user_signed_in? != true %>
      <div class="navbar-collapse collapse" id="navbar-inverse-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to root_path do %>
                <i class="fa fa-home"></i> Home
              <% end %>
          </li>
          <li><%= link_to new_article_path do %>
                <i class="fa fa-plus"></i> New
              <% end %>
          </li>
          <!--<li><%= link_to root_path do %>
                <i class="fa fa-server"></i> Categories
              <% end %>
          </li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in"></i> Login
            <% end %>   
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="fa fa-check"></i> Sign Up
            <% end %>
          </li>
        </ul>
      </div>
    <!-- User Signed In -->
    <% else %>
      <div class="navbar-collapse collapse" id="navbar-inverse-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to root_path do %>
                <i class="fa fa-home fa-1x" style="margin-right: 3px;"></i> <h5 style="display: inline;">Home</h5>
              <% end %>
          </li>
          <li><%= link_to new_article_path do %>
                <i class="fa fa-plus fa-1x" style="margin-right: 3px;"></i> <h5 style="display: inline;">New</h5>
              <% end %>
          </li>
          <li><%= link_to root_path do %>
                <i class="fa fa-server fa-1x" style="margin-right: 3px;"></i> <h5 style="display: inline;">Categories</h5>
              <% end %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-lg" type="button" id="dropdownMenu2" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog" style="padding-top: 8px;"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
              <li role="presentation" class="dropdown-header">Profile</li>
              <li role="presentation">
                <%= link_to current_user do %>
                  <%= image_tag current_user.avatar.url(:thumb), class: " img img-rounded img-thumbnail", style: "padding: 1px;" %> <%= current_user.fname %>
                <% end %>
              </li>
              <li role="presentation"><%= link_to "Edit", edit_user_registration_path %></li>
              <li role="presentation"><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn" %></li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
    <% if flash.alert || flash.notice %>
    
    <div class="container">
        <div class="row">
            <div id="flash">
              <% if flash.alert %>
                  <h6 class="alert alert-danger alert-dismissible" role="alert">
                      <%= flash.alert %>
                  </h6>
              <% end %>
            </div>
            <div id="notice">
              <% if flash.notice %>
                      <h6 class="alert alert-success alert-dismissible" role="alert">
                          <%= flash.notice %>
                      </h6>
              <% end %>
            </div>
        </div>
    </div>
    <% end %>
</div>
    <div class="container">
	   <%= yield %>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('[data-toggle=dropdown]').dropdown()
      $(document).ready(function(){
        setTimeout(function(){
          $('#flash').remove();
        }, 6000);
       })

      $(document).ready(function(){
        setTimeout(function(){
          $('#notice').remove();
        }, 6000);
       })
    </script>
    <script type="text/javascript">
      (function (jQuery) {
    jQuery.mark = {
      jump: function (options) {
        var defaults = {
          selector: 'a.smooth-scroll'
        };
        if (typeof options == 'string') defaults.selector = options;
        var options = jQuery.extend(defaults, options);
        return jQuery(options.selector).click(function (e) {
          var jumpobj = jQuery(this);
          var target = jumpobj.attr('href');
          var thespeed = 1000;
          var offset = jQuery(target).offset().top;
          jQuery('html,body').animate({
            scrollTop: offset
          }, thespeed, 'swing')
          e.preventDefault();
        })
      }
    }
  })(jQuery);


  jQuery(function(){  
    jQuery.mark.jump();
  });
    </script>
</body>
</html>
