<!DOCTYPE html>
<html>
<head>
  <title><%= @user.fname %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/yeti/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse">
	  <div class="navbar-header">
	    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-inverse-collapse">
	      <span class="fa fa-navicon"></span>
	    </button>
	    <%= link_to "Rails Blog", root_path, class: "navbar-brand" %>
	  </div>
	  <div class="navbar-collapse collapse" id="navbar-inverse-collapse">
	    <ul class="nav navbar-nav">
	      <li><%= link_to 'Home', root_path%></li>
	      <li><%= link_to 'New', new_article_path%></li>
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	      <% if user_signed_in? != true %>
		      <li>
		      	<%= link_to new_user_session_path do %>
		        	<i class="fa fa-sign-in"></i> Login
		      	<% end %>  	
		      </li>
		      <li>
	      		<%= link_to new_user_registration_path do %>
	                <i class="fa fa-check"></i> Sign Up
	            <% end %>
		      </li>
		  <% else %>
		      <li>
		      	<%= link_to current_user do %>
	            <% if current_user.avatar_file_name != nil %>
	                <%= image_tag current_user.avatar.url(:thumb), class: " img-rounded" %>
	              <% elsif current_user.image != nil %>
	                <%= image_tag current_user.image, size: "32", class: " img-rounded" %>
	              <% else %>
	                <img src="http://www.faithlineprotestants.org/wp-content/uploads/2010/12/facebook-default-no-profile-pic.jpg" alt="No Avatar Exists" class="img img-rounded" width="32" height="32">
	              <% end %>
	            <% end %>
		      </li>
	      <% end %>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle btn btn-lg" type="button" id="dropdownMenu2" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog fa-2x"></span></a>
	          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
	            <li role="presentation" class="dropdown-header">Profile</li>
	            <li role="presentation"><%= link_to "Edit", edit_user_registration_path %></li>
	            <li role="presentation"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
	            <li><a href="#">Something else here</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	          </ul>
	        </li>
	    </ul>
	  </div>
	</div>
    <% if flash.alert || flash.notice %>
    
    <div class="container">
        <div class="row">
            <div id="flash">
              <% if flash.alert %>
                  <h6 class="alert alert-danger alert-dismissible" role="alert">
                      <%= flash.alert %>
                  </h6>
              <% end %>
            </div>
            <div id="notice">
              <% if flash.notice %>
                      <h6 class="alert alert-success alert-dismissible" role="alert">
                          <%= flash.notice %>
                      </h6>
              <% end %>
            </div>
        </div>
    </div>
    <% end %>
</div>
    <div class="container">
	<div class="col-xs-12 col-sm-12 col md-12 col-lg-12">
		<ol class="breadcrumb">
    	  <li><a href="<%= root_path %>">Home</a></li>
    	  <li><a href="<%= users_path %>">Users</a></li>
    	  <li class="active"><%= @user.fname %></li>
    	</ol>
    <div class="well well-lg">     
      <div class="row">  
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
          
            <div class="media">
              <a class="media-left" href="#">
                <% if @user.image == nil %>
                  <%= image_tag @user.avatar.url(:medium), class: "img img-responsive img-rounded img-thumbnail" %>
                <% else %>
                  <%= image_tag @user.image, size: "300", class: "img-responsive img-rounded img-thumbnail" %>
                <% end %>
              </a>
              <div class="media-body">
                <h1 class="media-heading"><%= @user.fname %> <%= @user.lname %> <small>(<%= @user.email %>)</small></h1><br>
                <%= link_to "Edit", edit_user_registration_path, :class => "btn btn-primary btn-md" %>
              </div>
            </div>
          </div>
        </div>
    </div>
    	<%= yield %>
	</div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('[data-toggle=dropdown]').dropdown()

      $(document).ready(function () {
	  $(".navbar-collapse").click(function(event) {
	  $(".collapse").collapse('toggle');
	  });
	  });

      
      $(document).ready(function(){
        setTimeout(function(){
          $('#flash').remove();
        }, 5000);
       })

      $(document).ready(function(){
        setTimeout(function(){
          $('#notice').remove();
        }, 5000);
       })
    </script>
    <script type="text/javascript">
      (function (jQuery) {
    jQuery.mark = {
      jump: function (options) {
        var defaults = {
          selector: 'a.smooth-scroll'
        };
        if (typeof options == 'string') defaults.selector = options;
        var options = jQuery.extend(defaults, options);
        return jQuery(options.selector).click(function (e) {
          var jumpobj = jQuery(this);
          var target = jumpobj.attr('href');
          var thespeed = 1000;
          var offset = jQuery(target).offset().top;
          jQuery('html,body').animate({
            scrollTop: offset
          }, thespeed, 'swing')
          e.preventDefault();
        })
      }
    }
  })(jQuery);


  jQuery(function(){  
    jQuery.mark.jump();
  });
    </script>
</body>
</html>